<div class="filter" data-controller="filter" data-filter-pagy-outlet="#pagy-filter">
  <h5 class="filter-header">Filter films by category</h5>
  <% Movie.defined_enums['category'].keys.each do |category| %>
    <div class="filter-option">
      <input type="checkbox" value="<%= category%>" data-action="change->filter#changeUrl" data-filter-target="checkBox">
      <label class="filter-text"><%= category.capitalize %></label>
    </div>
  <% end %>
  <%= link_to 'Search', categories_movies_path, class: 'btn btn-primary', data: { filter_target: 'link', turbo_frame: } %>
</div>
