<p style="color: green"><%= notice %></p>

<div>
  <%= link_to "Edit this movie", edit_movie_path(@movie) %> |
  <%= link_to "Back to movies", root_path %>

  <%= button_to "Destroy this movie", @movie, method: :delete %>
</div>
