body {
  background-color: rgb(196, 186, 186);
}

td, th {
  border: 15px solid transparent;
}

.table-text {
  width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie-show-page {
  padding: 30px;
}