body {
  background-color: rgb(224, 220, 220);
}

td, th {
  border: 15px solid transparent;
}

.table-text {
  width: 500px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.movie-show-page {
  padding: 30px;
}

.form {
  width: 400px;
  margin: auto;

  &-header {
    width: 300px;
    margin: auto;
  }
}

.header {
  background-color: white;
  width: 100%;
}

.page {
  margin-top: 150px;
}
