$text_color: white;
$star-color: yellow;

body {
  background-color: black;
}

.no-wrap-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.star-color {
  color: $star-color;
}

.not-displayed {
  display: none;
}
