.filter {
  width: auto;
  background-color: rgb(54, 51, 51);
  padding: 20px 10px;
  position: fixed;
  right: 10px;
  top: 70px;

  &-header {
    color: $text_color;
    margin: 20px 0 20px;
  }

  &-option {
    display: flex;
  }

  &-text {
    color: $text_color;
    margin: 0 20px
  }
}
